<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
<style>
    p img
    {
        min-width: 100%;
    }
    h1
    {
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        color: rgba(136,46,225,1);
    }
    p
    {
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    a
    {
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    header
    {
        background-image: linear-gradient(#882ee1, #b62fbf);
        background-color:rgba(0,255,200,1);
        background-size: auto 100%;
        background-origin: border-box;
    }
    .contact
    {
        padding-top: 1rem;
        background-color:rgba(255,205,0,1);
        box-shadow: 0 0 6px rgba(136,46,225,0.4);
    }
    .container
    {
        max-width:60rem;
        padding: 0 0 8rem;
    }
    
    strong
    {
        color: rgba(136,46,225,1);
    }
    em
    {
        color: rgba(136,46,225,1);
    }
    .about p
    {
        color: rgba(136,46,225,1);
    }
    .about a
    {
        background-image: linear-gradient(#ffcd00, #ffcd00);
    }
    
    
    .about
    {
        background-color:#ffffff;
    }
    header img
    {
        max-height: 20rem;
    }
    nav 
    {
        z-index: 102;
        box-shadow: 0 0 6px rgba(136,46,225,0.4);
        background-color:rgba(255,205,0,1);
    }
    h1
    {
        font-size:2.0rem;
    }
</style>